.footer {
	width: 270px;
	margin: 0 auto;
}

.footer-list {
	position: absolute;
	bottom: 20px;
}

.footer-item {
	float: left;
	&:before {
		content: "\00b7 ";
	}
	&:first-child:before {
		content: "";
	}
}

.footer-link {
	color: #2879cc;
	font-family: verdana;
	font-size: 13px;
	line-height: 1.2;
	margin: 0 10px;
	&:hover {
		background: #7fbeff;
		color: #fff;
		text-decoration: none
	}
}